<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 83.343752 113.77083" height="430" width="315">
    <path #frameColor [attr.d]="visualNestService.visualsNest[visualStart].frameColor.d" [ngStyle]="visualNestService.visualsNest[visualStart].frameColor.attr"/>
    <g #frame>
        <path *ngFor="let frameLine of visualNestService.visualsNest[visualStart].frame" [attr.d]="frameLine"/>
    </g>
    <g #bodyColors>
        <path #beakColor [attr.d]="visualNestService.visualsNest[visualStart].beakColor.d" [ngStyle]="visualNestService.visualsNest[visualStart].beakColor.attr"/>
        <path #wingsColor [attr.d]="visualNestService.visualsNest[visualStart].wingsColor.d" [ngStyle]="visualNestService.visualsNest[visualStart].wingsColor.attr"/>
    </g>
    <g #bodyLines>
        <path *ngFor="let bodyLines of visualNestService.visualsNest[visualStart].body" [attr.d]="bodyLines"/>
    </g>
    <g #eyesLines>
        <path #leftEye [attr.d]="visualNestService.visualsNest[visualStart].eyeAnimation.leftEye[0]"/>
        <path #leftPupil [attr.d]="visualNestService.visualsNest[visualStart].eyeAnimation.leftPupil[0]"/>
        <path #rightEye [attr.d]="visualNestService.visualsNest[visualStart].eyeAnimation.rightEye[0]"/>
        <path #rightPupil [attr.d]="visualNestService.visualsNest[visualStart].eyeAnimation.rightPupil[0]"/>
    </g>
</svg>
