.layout-wrapper {
    width: 80vw;
    max-width: 640px;
    margin: 0 auto;
}

// .layout-wrapper > * {
//     border: 1px solid #f08c00;
// }

nav {
    margin: 0;
    padding: 0;
}

.layout-content {
    grid-area: content;
    width: 640px;
    overflow: hidden;
}
.layout-separator {
    grid-area: separator;
}
.layout-nav {
    grid-area: nav;
}
.layout-wrapper {
    display: grid;
    grid-row-gap: 5px;
    grid-column-gap: 20px;
    grid-template-areas: 
        "nav"
        "separator"
        "content";
}
// @media (min-width: 700px) {
//     .layout-wrapper {
//         grid-template-columns: 1fr 1fr;
//         grid-template-areas: 
//             "nav       nav"
//             "separator separator" 
//             "visual     content";
//     }
// }
