.layout-wrapper {
    max-width: 630px;
    margin: 0 auto;
}

// .layout-wrapper > * {
//     border: 1px solid #f08c00;
// }

nav {
    margin: 0;
    padding: 0;
}

.layout-content {
    grid-area: content;
}
.layout-separator {
    grid-area: separator;
}
.layout-nav {
    grid-area: nav;
}
.layout-booby {
    grid-area: booby;
}
.layout-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
        "nav"
        "separator"
        "content"
        "booby";
}
@media (min-width: 700px) {
    .layout-wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "nav       nav"
            "separator separator" 
            "booby     content";
    }
}
