<!-- Gliding -->
<div class="project gliding" (window:resize)="onResize($event)">
    <div class="images" id="imagesGliding">
        <!-- for some reason figure won't keep its width if there isn't a free div above it -->
        <div>
            <figure>
                <img class="gliding" src="/assets/images/Gliding.png" alt="Megido Gliding Center landing page">
                <figcaption>
                    Mockup for "Megido Gliding Center": Landing page (desktop)
                </figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img class="gliding" src="/assets/images/Gliding Mobile.png" alt="Megido Gliding Center for mobile">
                <figcaption>
                    Landing page (mobile)
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="arrow prev" [ngStyle]="{'transform':arrowTranslateString}" (mouseenter)="scroll('imagesGliding', 'start')" (mouseleave)="scroll('imagesGliding', 'none')">&#x276c;</div>
    <div class="arrow next" [ngStyle]="{'transform':arrowTranslateString}" (mouseenter)="scroll('imagesGliding', 'end')" (mouseleave)="scroll('imagesGliding', 'none')">&#x276d;</div>
</div>
    
<!-- Pizzka -->
<div class="project pizzka">
    <div class="images" id="imagesPizzka">
        <div>
            <figure>
                <img class="pizzka" src="/assets/images/Pizzka.png" alt="Pizzka Restaurant Landing">
                <figcaption>
                    Mockup for "Pizzka": Landing page<br>
                    Pizzka is a dynamic pizza restaurant. Young. Dynamic. Sassy. Fast. Dependable.
                </figcaption>
            </figure>
        </div>
        <div>
            <figure>
                <img class="pizzka" src="/assets/images/Pizzka Menu.png" alt="Pizzka Restaurant Menu">
                <figcaption>
                    Menu page
                </figcaption>
            </figure>
        </div>
    </div>
    <div class="arrow prev" [ngStyle]="{'transform':arrowTranslateString}" (mouseenter)="scroll('imagesPizzka', 'start')" (mouseleave)="scroll('imagesPizzka', 'none')">&#x276c;</div>
    <div class="arrow next" [ngStyle]="{'transform':arrowTranslateString}" (mouseenter)="scroll('imagesPizzka', 'end')" (mouseleave)="scroll('imagesPizzka', 'none')">&#x276d;</div>
</div>
